<h1>Welcome to HangingPhoto!</h1>
<p>普段何気なく撮った写真、日記がわりの写真から交流を広げ、自分・他者の視点を写真を通して共有できるサイトです。</p>
<p>シャッターを押すことができるなら誰でも！！<br>
幅広い世代に自身の見ている視点を共有して頂きたいです♪</p>

<p>日常の何気ない風景からちょっとした旅行でパシャリ、<br>
誰かに知って欲しいこと、共有したい写真を撮った時に投稿し、<br>
暇な時間・移動時間などにぶらりと気軽に写真旅行へいかがでしょうか？</p>
